.footer
  .container
    .row
      .col-xs-12.col-sm-4
        .footer__copyright
          p © 2008-2016 ООО Бридж Телеком
          address
            a(href="tel:+7-4112-44-88-77") +7 (4112) 44-88-77
            br
            a(href="tel:+7-4112-39-00-13") +7 (4112) 39-00-13
            br
            a(href="mailto:info@bridge-telecom.ru") info@bridge-telecom.ru
      .col-xs-12.col-sm-6
        .footer__nav
          ul
            li
              a.btn.btn--nav(ui-sref="about" ui-sref-active="active" ng-class="{hover: $state.includes('vacancies')}") О компании
            li
              a.btn.btn--nav(ui-sref="individual" ui-sref-active="active" ng-class="{hover: $state.includes('rates')}") Частным лицам
            li
              a.btn.btn--nav(ui-sref="corporate" ui-sref-active="active") Корпоративным клиентам
            li
              a.btn.btn--nav(ui-sref="support" ui-sref-active="active") Техническая поддержка
          ul
            li
              a.btn.btn--nav(ui-sref="map" ui-sref-active="active") Зона покрытия
            li
              a.btn.btn--nav(ui-sref="service" ui-sref-active="active") Абоненту
            li
              a.btn.btn--nav(ui-sref="contacts" ui-sref-active="active") Контакты
      .col-xs-12.col-sm-2
        .footer__social
          a.fa.fa-whatsapp.fa-2x(data-rel="external" href="whatsapp://+79644210088" target="_blank")
          a.fa.fa-twitter-square.fa-2x(href="https://twitter.com/@bridgetele" target="_blank")
      .col-xs-12
        .footer__author
          p Сделано в&nbsp;
           a(target="_blank" href="http://fivetronics.com/") Файвтроникс