section.about
  .container
    .row
      .col-sm-9
        .about__img
          img.img-responsive(src="images/about/about.jpg", alt="")
        h2 О компании
        p.lead БриджТелеком — региональный оператор связи, предоставляющий полный пакет телекоммуникационных услуг на базе передовых технологий беспроводного широкополосного доступа в интернет.
        p.lead Работая 7 лет на рынке телекоммуникационных услуг Республики Саха (Якутия), компания БриджТелеком зарекомендовала себя как надежный партнер для бизнеса и частных клиентов. Сплоченная команда профессионалов в максимально короткие сроки предложит индивидуальное решение проблемы клиента.
        p.lead
          i Миссия компании&nbsp;
          | — предоставление доступа в интернет населению и предприятиям в удаленных населенных пунктах Республики Саха (Якутия).
        p.lead Владельцам частных домов и коттеджей, государственным и коммерческим предприятиям, находящихся в районах Республики Саха (Якутия) БриджТелеком предоставляет скоростной доступ к сети Интернет, объединение распределенной структуры предприятий в единую сеть передачи данных, телефонию и видеонаблюдение с гарантией качества.
        p.lead БриджТелеком — оказывает услуги широкополосного доступа по технологии WiMax. Тем самым обеспечивая проникновение современных информационных услуг в самые труднодоступные районы области.
        h3 Технология
        p.lead
          i WiMAX&nbsp;
          | — это система дальнего действия, покрывающая километры пространства, которая обычно использует лицензированные спектры частот (хотя возможно и использование нелицензированных частот) для предоставления соединения с Интернетом типа точка-точка провайдером конечному пользователю.
        p.lead Разные стандарты семейства 802.16 обеспечивают разные виды доступа, от мобильного (схож с передачей данных с мобильных телефонов) до фиксированного (альтернатива проводному доступу, при котором беспроводное оборудование пользователя привязано к местоположению).
        p.lead Для подключения офиса или частного дома к интернету по радиоканалу на крыше или фасаде здания устанавливается небольшая антенна, от которой до клиентского оборудования спускается кабель.
        p.lead Антенна направляется на базовую станцию сети БриджТелеком для организации связи между базовой станцией и антенной. Перед тем, как подключить клиента, наши специалисты проводят обязательное бесплатное техническое обследование на предмет возможности предоставления услуги. Выделенный частотный ресурс и инфраструктура сети БриджТелеком позволяет осуществлять подключение клиентов с гарантированно высокой скоростью даже в самых удаленных точках.
        p.lead Благодаря данной технологии юридические лица также могут объединять офисы, филиалы, склады компании в единую защищенную сеть.  единая защищенная сеть.
        p.lead БриджТелеком первый в Республике  Саха (Якутия) запустил технологию WiMAX с сертифицированным оборудованием в диапазоне 5-6 ГГц  имеющую более лучшую проникающую способность в отличии от аналогов и других систем класса Radio
          i Ethernet.
    .row
      .text-center
        a(ui-sref="vacancies").btn.btn--blue Вакансии
