.section.section--main
  .section__caption
    .container
      .row
        .col-sm-10.col-sm-offset-1
          h1 Услуги широкополосного доступа в интернет по технологии Wimax
          p.lead Мы стремимся к тому, чтобы услуги, предоставленные Бридж Телекомом, способствовали росту прибыли, успешному развитию и процветанию компаний наших клиентов
          a(ui-sref="about").btn.btn--transparent Подробнее
.section.section--content
  .container
    .articles
      .articles__heading
        h3 Новости
      .articles__body
        .row
          .col-md-6(ng-repeat="post in posts | limitTo : 2 track by $index")
            .articles__img
              img.img-responsive(ng-src="{{::post.cover}}", alt="")
            .articles__content(ml-ellipsis)
              a(ng-href="/posts/{{::post._id}}")
                h3 {{::post.title}}
              p {{::post.createdAt | date:'dd.MM.yyyy'}}
              p.lead {{::post.intro }}
      .col-sm-4.col-sm-offset-4
        a.btn.btn--news(href="/posts") Все новости&nbsp;
          i.fa.fa-long-arrow-right
    .widgets
      .row
        a(ui-sref="individual").col-md-6
          .widget.individual
            .widget__text
              h3 Частным лицам
              //- p.lead Подробнее
        a(ui-sref="corporate").col-md-6
          .widget.corporate
            .widget__text
              h3 Корпоративным клиентам
              //- p.lead  Подробнее
    .review
      .review__title
        h3 Отзывы клиентов
      .row
        .col-md-2
          .review__logo
            img(src="images/comments/face1.jpg", alt="")
        .col-md-4
          .review__text
            p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus temporibus eaque reprehenderit qui repudiandae quis magni, unde quas enim est incidunt ratione dolorem aliquid quo sapiente ab exercitationem aspernatur ex.
            p Excepteur Excepteur
            p.desc cupidatat
        .col-md-2
          .review__logo
            img(src="images/comments/face2.jpg", alt="")
        .col-md-4
          .review__text
            p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ipsa. Reprehenderit voluptatum quibusdam omnis minima dignissimos itaque commodi dolores harum amet dolor eveniet iusto esse facilis illum, consectetur officia ad.
            p Excepteur Excepteur
            p.desc cupidatat
      .row
        .col-md-2
          .review__logo
            img(src="images/comments/face3.jpg", alt="")
        .col-md-4
          .review__text
            p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus temporibus eaque reprehenderit qui repudiandae quis magni, unde quas enim est incidunt ratione dolorem aliquid quo sapiente ab exercitationem aspernatur ex.
            p Excepteur Excepteur
            p.desc cupidatat
        .col-md-2
          .review__logo
            img(src="images/comments/face4.jpg", alt="")
        .col-md-4
          .review__text
            p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ipsa. Reprehenderit voluptatum quibusdam omnis minima dignissimos itaque commodi dolores harum amet dolor eveniet iusto esse facilis illum, consectetur officia ad.
            p Excepteur Excepteur
            p.desc cupidatat
    .honor(ng-controller="flickityCtrl")
      .honor__title
        h3 Награды
      .row
        .col-xs-12.col-xs-offset-0
          .slider(bc-flickity="{{ myCustomOptions }}")
            .slider__slide
              img.img-responsive(src="images/honor/1.jpg", alt="")
            .slider__slide
              img.img-responsive(src="images/honor/2.jpg", alt="")
            .slider__slide
              img.img-responsive(src="images/honor/3.jpg", alt="")
            .slider__slide
              img.img-responsive(src="images/honor/4.jpg", alt="")
            .slider__slide
              img.img-responsive(src="images/honor/5.jpg", alt="")
            .slider__slide
              img.img-responsive(src="images/honor/6.jpg", alt="")
      .row
        .col-sm-4.col-sm-offset-4
          a.btn.btn--yellow.btn--yellow--lg(href="/request") Подать заявку