section.individual
  .container
    .individual__info
      .row
        .col-sm-9
          h2 Частным лицам
          p.lead С&nbsp;
            b БриджТелеком&nbsp;
            | у вас появится возможность подключить Интернет:
          ul
            li на даче
            li в частном доме
            li в коттедже
          p.lead Вы сможете:
          ul
            li мгновенно загружать web-страницы
            li скачивать большие файлы
            li смотреть фильмы online
            li слушать любимую музыку
            li общаться с друзьями в сети
        .col-lg-3.col-lg-offset-0.text-center
          a(ui-sref="rates").btn.btn--blue Тарифы
    .individual__steps
      .row
        .col-xs-12
          h3 Этапы подключения к сети Бридж Телеком
      .row
        .col-sm-4
          img.img-responsive(src="images/individual/step1.png")
          p.lead Проведение специалистами нашей компании тестирования вашего территориального месторасположения
        .col-sm-4
          img.img-responsive(src="images/individual/step2.png")
          p.lead Подбор необходимого оборудования для устойчивого доступа в Интернет
        .col-sm-4
          img.img-responsive(src="images/individual/step3.png")
          p.lead Всего 2–3 дня потребуется на монтаж и настройку, и вы уже подключены к сети
    .row
      .col-sm-4.col-sm-offset-4
        a.btn.btn--yellow.btn--yellow--lg(href="/request") Подать заявку
    .individual__change
      .row
        .col-sm-9
          h3 При смене места жительства
          p.lead Все необходимое для подключения к сети оборудование можно перенести и оперативно подключить на новом объекте. Все необходимое оборудование передается вам в пользование.
          p.lead Возможности нашей сети откроют для вас новые горизонты информационного пространства, сделают ваш досуг более интересным и приятным