section.request(ng-init="value='частного лица'")
  .container
    .row
      .col-xs-12
        h2 Форма заявки
        form.form-horizontal(action='/request', method='POST')
          .form-group.row
            label.col-sm-3.control-label Тип
            .col-sm-9
              .radio
                label(for='bid_type1') Частное лицо
                  input#bid_type1(type='radio', name='type', value='частного лица' ng-model="value")
              .radio
                label(for='bid_type2') Корпоративное лицо
                  input#bid_type2(type='radio', name='type', value='корпоративного лица' ng-model="value")
          .form-group.row
            label.col-sm-3.control-label(for='bid_city') Населенный пункт
            .col-sm-9
              input#bid_city.form-control(type='text', name='Населенный пункт' placeholder='г. Якутск' required)
          .form-group.row
            label.col-sm-3.control-label(for='bid_address') Адрес подключаемого объекта
            .col-sm-9
              input#bid_address.form-control(type='text', name='Адрес подключаемого объекта' placeholder='ул. Орджоникидзе, 1' required)
          .form-group.row
            label.col-sm-3.control-label(for='bid_name') Контактное лицо
            .col-sm-9
              input#bid_name.form-control(type='text', name='Контактное лицо' placeholder='Иванов Иван Иванович' required)
          .form-group.row
            label.col-sm-3.control-label(for='bid_phone') Контактный телефон
            .col-sm-9
              input#bid_phone.form-control(type='number', name='Контактный телефон' placeholder='8914123456789' required)
          .form-group.row
            label.col-sm-3.control-label(for='bid_email') Email
            .col-sm-9
              input#bid_email.form-control(type='email', name='Email' placeholder='example@mail.ru' required)
          .form-group.row
            label.col-sm-3.control-label(for='bid_textarea') Поле для сообщения
            .col-sm-9
              textarea#bid_textarea.form-control(rows="10", name="Поле для сообщения" placeholder='Ваше сообщение' required)
          .request__individual(ng-if="value == 'частного лица'")
          .request__corporate(ng-if="value != 'частного лица'")
            h3 Запрашиваемые услуги для подключения:
            h4 ИНТЕРНЕТ
            .form-group.row
              label.col-sm-3.control-label(for='bid_internet') Количество рабочих мест
              .col-sm-9
                input#bid_internet.form-control(type='number', name='Количество рабочих мест(ИНТЕРНЕТ)' required)
            h4 VPN
            .form-group.row
              label.col-sm-3.control-label(for='bid_vpn') Количество рабочих мест
              .col-sm-9
                input#bid_vpn.form-control(type='number', name='Количество рабочих мест(VPN)' required)
            h4 ТЕЛЕФОНИЯ
            .form-group.row
              label.col-sm-3.control-label(for='bid_telephony') Количество линий
              .col-sm-9
                input#bid_telephony.form-control(type='number', name='Количество линий' required)
            .form-group.row
              label.col-sm-3.control-label(for='bid_numbers') Количество номеров
              .col-sm-9
                input#bid_numbers.form-control(type='number', name='Количество номеров' required)
            .form-group.row
              label.col-sm-3.control-label(for='bid_beauty') Красивый номер
              .col-sm-9
                input#bid_beauty(type='checkbox', name='Красивый номер')
            h3 Сервисы:
            .form-group.row
              label.col-sm-3.control-label(for='bid_video') ВИДЕОНАБЛЮДЕНИЕ
              .col-sm-9
                input#bid_video(type='checkbox', name='ВИДЕОНАБЛЮДЕНИЕ')
            .form-group.row
              label.col-sm-3.control-label(for='bid_wifi') Wi-Fi
              .col-sm-9
                input#bid_wifi(type='checkbox', name='Wi-Fi')
            .form-group.row
              label.col-sm-3.control-label(for='bid_sks') СКС
              .col-sm-9
                input#bid_sks(type='checkbox', name='СКС')
          .form-group.row
            label.col-sm-3.control-label(for='bid_email') Реферальный номер
            .col-sm-6
              input#bid_reffer.form-control(type='text', name='Реферальный номер')            
          .col-sm-4.col-sm-offset-4
            .g-recaptcha(data-sitekey="6LfK8AYUAAAAAB-Z24Ei7RwCt6N2agewumioIG1j")
          .col-sm-4.col-sm-offset-4
            input.btn.btn--yellow.btn--yellow--lg(type='submit', value='Отправить')