section.support(ng-init="value='частного лица'")
  .container
    .row
      .col-xs-12
        h2 Техническая поддержка
        form.form-horizontal(action='/support', method='POST')
          .form-group.row
            label.col-sm-3.control-label Тип
            .col-sm-9
              .radio
                label(for='bid_type1') Частное лицо
                  input#bid_type1(type='radio', name='type', value='частного лица' ng-model="value")
              .radio
                label(for='bid_type2') Корпоративное лицо
                  input#bid_type2(type='radio', name='type', value='корпоративного лица' ng-model="value")
          .form-group.row
            label.col-sm-3.control-label(for='bid_city') Населенный пункт
            .col-sm-9
              input#bid_city.form-control(type='text', name='Населенный пункт' placeholder='г. Якутск' required)
          .form-group.row
            label.col-sm-3.control-label(for='bid_address') Адрес
            .col-sm-9
              input#bid_address.form-control(type='text', name='Адрес подключаемого объекта' placeholder='ул. Орджоникидзе, 1' required)
          .form-group.row
            label.col-sm-3.control-label(for='bid_name') Контактное лицо
            .col-sm-9
              input#bid_name.form-control(type='text', name='Контактное лицо' placeholder='Иванов Иван Иванович' required)
          .form-group.row
            label.col-sm-3.control-label(for='bid_name') Номер лицевого счета
            .col-sm-9
              input#bid_name.form-control(type='number', name='Номер лицевого счета' placeholder='123456789' required)
          .form-group.row
            label.col-sm-3.control-label(for='bid_phone') Контактный телефон
            .col-sm-9
              input#bid_phone.form-control(type='number', name='Контактный телефон' placeholder='8914123456789' required)
          .form-group.row
            label.col-sm-3.control-label(for='bid_email') Email
            .col-sm-9
              input#bid_email.form-control(type='email', name='Email' placeholder='example@mail.ru' required)
          .form-group.row
            label.col-sm-3.control-label(for='bid_textarea') Поле для сообщения
            .col-sm-9
              textarea#bid_textarea.form-control(rows="10", name="Поле для сообщения" placeholder='Ваше сообщение' required)
          .col-sm-4.col-sm-offset-4
            input.btn.btn--yellow.btn--yellow--lg(type='submit', value='Отправить')