section.vacancies
  .container
    .row
      .col-sm-9
        ul.breadcrumbs
          li
            a(ui-sref="about") О компании
          li
            a(ui-sref="vacancies") Вакансии
        h2 Вакансии
        p.lead Резюме отправлять на
          a(href="mailto:info@bridge-telecom.ru") info@bridge-telecom.ru
        p.lead Справки по телефону
          a(href="tel:+7-4112-44-88-77") +7 (4112) 44-88-77
        h3(ng-repeat-start="vacancy in vacancies") {{::vacancy.title}}
        h4(ng-if="vacancy.duties") Обязанности:
        ul(ng-bind-html="vacancy.duties | rawHtml")
        h4(ng-if="vacancy.requirements") Требования:
        ul(ng-bind-html="vacancy.requirements | rawHtml")
        h4(ng-if="vacancy.conditions") Условия:
        ul(ng-bind-html="vacancy.conditions | rawHtml")
        h4(ng-if="vacancy.additionally") Дополнительно:
        ul(ng-repeat-end ng-bind-html="vacancy.additionally | rawHtml")