.corporate
{
  &__info
  {
    ul
    {
      font: 400 16px/22px 'Open Sans', sans-serif;

      margin: 0 0 30px;

      list-style: none;
      li
      {
        margin: 0 0 0 40px;
        &:before
        {
          position: absolute;
          left: 25px;

          content: '—';
        }
        ul
        {
          list-style: circle;
          li:before
          {
            content: '';
          }
        }
      }
    }
  }
}
