.area
{
  &__map
  {
    position: relative;

    height: -webkit-calc(100vh - 220px);
    height:    -moz-calc(100vh - 220px);
    height:         calc(100vh - 220px);
    width: 100%;
  }
}
@media (max-width: 767px)
{
  .area
  {
    &__map
    {
      height: -webkit-calc(100vh - 70px);
      height:    -moz-calc(100vh - 70px);
      height:         calc(100vh - 70px);
    }
  }
}
